<%- include("../partials/header.ejs") %>

    <title><%= title %></title>
</head>
<body>

<div class="container container-fluid content">
    <h2><strong>Tools</strong></h2>
    <div class="tools-list">
      <% for(var i = 0; i < toolsList.length; i++) { %>
          <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <% var id = 'a' %>
                  <% id += i %>
                  <% idd = '#' + id %>
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target=<%= idd %> aria-expanded="false" aria-controls=<%= id %>>
                    <%= toolsList[i].name %>
                  </button>
                </h2>
                <div id=<%= id %> class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                  <div class="accordion-body">
                    <%- toolsList[i].longDescription %>
                    <br><br>
                    <a href=<%= toolsList[i].link %> target="_blank">Visit Now</a>
                  </div>
                </div>
              </div>
          </div>
        <% } %>
    </div>
</div>

<%- include("../partials/footer.ejs") %>