<%- include("partials/header.ejs") %>

    <title><%= title %></title>
</head>
<body>

<div class="container container-fluid content">
    <h2 class="download-heading"><strong>Preparing to download your file.</strong></h2>
    <div class="progress form-contents">
        <div class="bg-danger progress-bar progress-bar-striped progress-bar-animated progress-bar-download-page" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
    </div>
    <form action="/tools/encrypto/download/result/<%= fileName %>-converted<%= ext %>" method="GET">
        <button type="submit" class="btn btn-success btn-lg download-btn hidden form-contents">Download</button>
    </form>
    <p class="form-contents">The files will be deleted from our servers in approximately <strong>5 minutes</strong>. Please download your file within time limit.</p>
</div>

<%- include("partials/footer.ejs") %>

<script src="/javascript/download-page.js"></script>